@import 'tailwindcss';
@import '../components/aspect-ui/aspect-ui.css';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg-dark: hsl(0, 0%, 90%);
  --bg: hsl(0, 0%, 97%);
  --bg-light: hsl(0, 0%, 100%);
}
.dark {
  --bg-dark: hsl(0, 0%, 5%);
  --bg: hsl(0, 0%, 10%);
  --bg-light: hsl(0, 0%, 15%);
}

@theme {
  --color-primaryColor: #6B4C76;
  --color-headingText: var(--text);
  --color-headingDarkText: var(--text);
  --color-normalText: var(--text-muted);
  --color-normalDarkText: var(--text-muted);
}

.background {
  /* background-color: #fff; */
  background-color: var(--bg-dark);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23b8b0bf' fill-opacity='0.39'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: auto;
  /* background-size: contain; */
}
.background:is(.dark *) {
  /* background-color: #fff; */
  background-color: var(--bg-dark);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23b8b0bf' fill-opacity='0.39'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: auto;
  /* background-size: contain; */
}

.form-row {
  display: flex;
  margin: 10px 0;
}

form .form-row .input-data {
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}

form .form-row .textarea {
  height: 100px;
}

.input-data input,
.textarea textarea {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid #2a1a2f;
  outline: none;
  background-color: transparent !important;
}
input:-internal-autofill-selected {
  background-color: transparent !important;
}
.input-data input:is(.dark *),
.textarea textarea:is(.dark *) {
  border-bottom: 2px solid #fdfdfd;
}
.input-data input:focus ~ label,
.input-data input:valid ~ label,
.textarea textarea:valid ~ label,
.textarea textarea:focus ~ label {
  transform: translateY(-45px) !important;
  font-size: 14px;
  color: #5a3a5f;
}
.input-data input:invalid ~ label,
.textarea textarea:invalid ~ label {
  transform: translateY(-20px);
  font-size: 14px;
  color: rgb(255, 0, 0);
}

.textarea textarea:valid ~ label,
.textarea textarea:focus ~ label {
  transform: translateY(-50px);
}
.textarea textarea {
  resize: none;
  padding-top: 10px;
}

.input-data label {
  position: absolute;
  pointer-events: none;
  bottom: -10px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.textarea label {
  width: 100%;
  bottom: 40px;
  background: transparent;
}

.input-data .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.input-data .underline:before {
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
  background: #5a3a5f;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before {
  transform: scale(1);
}

.input-data > input:invalid ~ .underline:before,
.input-data > textarea:invalid ~ .underline:before {
  background: red;
}

.und {
  width: 50%;
  height: 2px;
  border-radius: 100%;
  background: #5a3a5f;
}

html {
  scroll-behavior: smooth;
}



.hover-effect > svg {
  display: block !important;
  opacity: 1; /* Show the icon smoothly */
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #5a3a5f;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow:
    0 0 10px #5a3a5f,
    0 0 5px #5a3a5f;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}


.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: fixed !important;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
